<%- include("partials/header") %>
<%- include("partials/navbar") %>
<%- include("partials/flash") %>

<form method="get" action="">
  <label for="search">Search:</label>
  <input type="text" id="q" name="q" value="">
  <button type="submit">Search</button>
  <label for="sortField">Sort by:</label>
  <select id="sortField" name="sortField">
    <option value="id" selected>Id</option>
    <option value="nickname">Nickname</option>
    <option value="description">Description</option>
    <option value="species_id">Species_id</option>
    <option value="island">Island</option>
    <option value="gender">Gender</option>
    <option value="weight">Weight</option>
    <option value="height">Height</option>
    <option value="year">Year</option>
    <option value="image">Image</option>
    <option value="assigned_to">Assigned_to</option>
  </select>
  <label for="sortDirection">Sort direction:</label>
  <select id="sortDirection" name="sortDirection">
    <option value="asc" selected>Ascending</option>
    <option value="desc">Descending</option>
  </select>
  <button type="submit">Sort</button>
</form>

<table>
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Nickname</th>
      <th>Description</th>
      <th>Species</th>
      <th>Island</th>
      <th>Gender</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Year</th>
      <th>Age</th>
      <th>Assigned To</th>
    </tr>
  </thead>
<tbody>
  <% penguins.forEach(penguin => { %>
    <tr>
      <td>
        <img src="<%= penguin.image %>" width="100">
      </td>
      <td><%= penguin.id %></td>
      <td><%= penguin.nickname %></td>
      <td><%= penguin.description %></td>
      <td>
        <a href="/species/<%= penguin.species?.id %>">
          <%= penguin.species?.name %>
        </a>
      </td>
      <td><%= penguin.island %></td>
      <td><%= penguin.gender %></td>
      <td><%= penguin.weight %> kg</td>
      <td><%= penguin.height %> cm</td>
      <td><%= penguin.year %></td>
      <td><%= calculatePenguinAge(penguin.year) %>y</td>
      <td>
        <% if (penguin.assigned_to) { %>
          <%= penguin.assigned_to %>
        <% } else { %>
          <form method="post" action="/penguins/<%= penguin.id %>/assign">
            <button type="submit">Assign to me</button>
          </form>
        <% } %>
      </td>
    </tr>
  <% }); %>
</tbody>
</table>

<%- include("partials/footer") %>